[profile.default]
src = "src"
out = "out"
libs = ["lib"]

[rpc_endpoints]
lisk_sepolia = "${LISK_SEPOLIA_RPC_URL}"

[etherscan]
lisk_sepolia = { key = "any", url = "https://sepolia-blockscout.lisk.com/api" }